body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Course Screen */

.link{
  text-decoration: none;
  color: inherit;
}

.box {
  display: flex;
  gap: 0.5rem;
}
.dashboard {
  width: 100%;
  min-height: 60vh;
  top: 0;

  position: relative;
}
.dashboard::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 75vh;
  /* background-color: blue; */
  /* background-image: url('./images/watermark.png'); */
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  pointer-events: none;
  z-index: -1;
  opacity: 0.4;
  background-position: center;
  background-size: 45rem;
}